<% url = blog_post_link(blog_post) %>
<div class="blog-item">
  <div class="heading">
    <h1> <%= link_to blog_post.title, url %> </h1>
  </div>
  <div class="body">
    <%= render partial:'blog_image', locals: {image: blog_post.image, alt: blog_post.title, url:url} %>

    <p>
      <%= blog_post.description.html_safe %>
    </p>

    <%= render partial: 'credentials', locals: {date: blog_post.published_at} %>

    <br/>
    <%= link_to t('general.read_more'), url %>
    <div class="edit">
      <% if admin? %>
          <%= link_to t("general.edit"), edit_blog_post_path(blog_post) %>
          <%= link_to t("general.destroy"), blog_post, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>

  </div>
</div>
