<% show_url = blog_post.slug.empty? ? blog_post : blog_post.slug %>
<div class="blog-item">
  <div class="heading">
    <h1> <%= link_to blog_post.title, show_url %> </h1>
  </div>
  <div class="body">
    <table>
      <tr>
        <td class="description-image-container">
          <%= image_tag blog_post.image, alt: blog_post.title%>
        </td>
        <td>
          <%= blog_post.description.html_safe %>
        </td>
      </tr>

    </table>
    <%= link_to t('general.read_more'), show_url %>
    <div class="edit">
      <% if admin? %>
          <%= link_to t("general.edit"), edit_blog_post_path(blog_post) %>
          <%= link_to t("general.destroy"), blog_post, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>

  </div>
</div>
