  <div class="blog-post-form-body">
    <%= form_for(@blog_post) do |f| %>
        <% if @blog_post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being
                saved:</h2>

              <ul>
                <% @blog_post.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <table class="form-table">
          <tr>
            <td class="left-controls">
              <div>
                <div class="field">
                  <%= f.label :title %><br>
                  <%= f.text_field :title, class: "form-control" %>
                </div>
                <br/>

                <div class="field">
                  <%= f.label :body %><br>
                  <%= f.text_area :body, class: "form-control", rows: 15 %>
                </div>
                <br/>

                <div class="field">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary modal-launch-button">
                    Add Image
                  </button>
                </div>
                <br/>

                <div class="field">
                  <%= f.label :description %><br>
                  <%= f.text_area :description, class: "form-control", rows: 5 %>
                </div>
                <br/>

                <div class="field">
                  <%= f.label :rss %><br>
                  <%= f.text_area :rss, class: "form-control", rows: 5 %>
                </div>
                <br/>


              </div>
            </td>

            <td class="right-controls">
              <div>
                <div class="field">
                  <%= f.label :language %><br>
                  <%= f.text_field :language, class: "form-control" %>
                </div>
                <br/>


                <div class="field">
                  <%= f.label :tags %><br>
                  <%= f.text_field :tags, class: "form-control" %>
                </div>
                <br/>

                <div class="field">
                  <%= f.label :status %><br>
                  <%= f.text_field :status, class: "form-control" %>
                </div>
                <br/>

                <div class="field">
                  <%= f.label :category %><br>
                  <%= f.text_field :category, class: "form-control" %>
                </div>
                <br/>

                <div class="field">
                  <%= f.label :slug %><br>
                  <%= f.text_field :slug, class: "form-control" %>
                </div>
                <br/>

              </div>
            </td>
          </tr>
        </table>
        <div class="actions">
          <%= f.submit %>
        </div>
        <br/>
    <% end %>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Image gallery</h4>
          </div>
          <div class="body">
            <div class="main-body"></div>
            <div class="ceiling">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary image-gallery-ok-button">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




