<% show_url = @blog_post.slug.empty? ? @blog_post : @blog_post.slug %>
<div class="blog-post-layout">
  <div class="blog-post">
    <div class="heading">
      <h1> <%= link_to @blog_post.title, show_url %> </h1>
    </div>
    <div class="image">
      <%= image_tag @blog_post.image.url(:large) if @blog_post.image.file?%>
    </div>
    <div class="body">
      <p><%= @blog_post.body %></p>
    </div>
    <div class="edit">
      <%= link_to t("general.edit"), edit_blog_post_path(@blog_post) %>
      <%= link_to t("general.destroy"), @blog_post, method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
</div>



