<h1>Listing video_parts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Body</th>
      <th>Tags</th>
      <th>Status</th>
      <th>Slug</th>
      <th>Language</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_parts.each do |video_part| %>
      <tr>
        <td><%= video_part.title %></td>
        <td><%= video_part.description %></td>
        <td><%= video_part.body %></td>
        <td><%= video_part.tags %></td>
        <td><%= video_part.status %></td>
        <td><%= video_part.slug %></td>
        <td><%= video_part.language %></td>
        <td><%= video_part.order %></td>
        <td><%= link_to 'Show', video_part %></td>
        <td><%= link_to 'Edit', edit_video_lesson_part_path(video_part) %></td>
        <td><%= link_to 'Destroy', video_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_video_lesson_part_path %>
