<% content_for :modal_header do %>
    <%= t('devise.passwords.send_instructions') %>
<% end %>

<%= form_for(resource, remote: true, as: resource_name, url: confirmation_path(resource_name), html: {method: :post, :'data-type' => 'json'}) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <%= render "devise/shared/links" %>

    <div class="field ceiling">
      <%= f.submit t('devise.views.send'), class: 'btn btn-primary' %>
      <button type="button" class="btn btn-default cancel-button" id="cancel_button" data-dismiss="modal"><%= t('general.cancel') %></button>
    </div>


<% end %>


