<% content_for :modal_header do %>
    <%= t('devise.views.sign_up') %>
<% end %>

<%= form_for(resource, remote: true, as: resource_name, url: registration_path(resource_name),
        html: {:'data-type' => 'json'}) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label t('devise.views.email')+'*' %><br/>
      <%= f.email_field :email, autofocus: true, class: 'form-control',
        data: {email_message: t('errors.messages.email_format'),
                required_message: t('errors.messages.email_required')}%>
    </div>

    <div class="field">
      <%= f.label t('devise.views.password')+'*' %>
      <% if @validatable %>
          <em>(<%= @minimum_password_length %> <%= t('devise.views.min_chars') %>)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control',
        data: {required_message: t('errors.messages.password_required'),
        minlength_message: t('activerecord.errors.models.user.attributes.password.too_short')}%>
    </div>

    <div class="field">
      <%= f.label t('devise.views.password_confirmation')+'*' %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control',
                           data: {required_message: t('errors.messages.password_required')}%>
    </div>

    <div class="field">
      <%= f.label t('devise.views.first_name')+'*' %><br/>
      <%= f.text_field :first_name, class: 'form-control',
                           data: {required_message: t('errors.messages.first_name_required')}%>
    </div>

    <div class="field">
      <%= f.label t('devise.views.last_name') %><br/>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>


    <%= render "devise/shared/links" %>

    <div class="field ceiling">
      <%= f.submit t('general.ok'), class: 'btn btn-primary' %>
      <button type="button" class="btn btn-default cancel-button" id="cancel_button" data-dismiss="modal"><%= t('general.cancel') %></button>
    </div>


<% end %>
