<% content_for :modal_header do %>
    <%= t('devise.unlocks.send_instructions') %>
<% end %>

<% content_for :modal_ceiling do %>
    <button type="button" class="btn btn-default cancel-button" id="cancel_button" data-dismiss="modal"><%= t('general.cancel') %></button>
    <button type="button" class="btn btn-primary ok-button" id="ok_button"><%= t('general.ok') %></button>
<% end %>

<%= form_for(resource, remote:true, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label t('devise.views.email') %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
