<%= link_to t('general.new'), new_video_group_path %>
<% @video_groups.each do |video_group| %>
    <div class="group-item">
      <div class="body">
        <table>
          <tr>
            <td>
              <%= link_to image_tag(video_group.image), video_posts_path(group: video_group.id) if video_group.image %>
            </td>
            <td>
              <h3><%= link_to video_group.title, video_posts_path(group: video_group.id) %></h3>
              <%= video_group.description %>
            </td>
          </tr>
        </table>
        <%= link_to t('general.edit'), edit_video_group_path(video_group) %>
        <%= link_to t('general.destroy'), video_group, method: :delete, data: {confirm: 'Are you sure?'} %>
      </div>
    </div>
<% end %>
