<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @video_group.value %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @video_group.tags %>
</p>

<%= link_to 'Edit', edit_video_group_path(@video_group) %> |
<%= link_to 'Back', video_groups_path %>
