<% content_for :modal_header do %>
    <%= t('devise.views.change_password') %>
<% end %>

<%= form_for(resource, remote: true, as: resource_name, url: password_path(resource_name), html: {method: :put, :'data-type' => 'json'}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, t('devise.views.remember_me') %><br/>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, t('devise.views.password_confirmation') %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <%= render "devise/shared/links" %>

    <div class="field ceiling">
      <%= f.submit t('devise.views.send'), class: 'btn btn-primary' %>
      <button type="button" class="btn btn-default cancel-button" id="cancel_button" data-dismiss="modal"><%= t('general.cancel') %></button>
    </div>


<% end %>


