<div class="comment-panel">
  <div class="comment-heading">
    <div class="heading">
      <%= t('general.comments') %>
    </div>
  </div>

  <% comments.each do |comment| %>
      <% indent = [comment.indent,9].min %>
      <div id="comment_<%= comment.id %>" class="comment indent<%= indent  %>" data-id="<%= comment.id %>" data-indent="<%= indent %>">
        <div class="body">
          <table>
            <tr>
              <td class="user">
                <div class="avatar">
                  <%= image_tag comment.user.image %>
                </div>
                <div class="name">
                  <%= comment.user.full_name %>
                </div>
              </td>
              <td class="text">
                <p>
                <%= comment.text %>
                </p>
                <p>
                  <%= link_to t('general.reply'), nil,
                              data: {id: comment.id, entity_id: entity_id, category: category},
                              class:"comment-reply"%>
                </p>
              </td>
            </tr>
          </table>

        </div>
      </div>
  <% end %>
</div>