<div class="comment-panel">
  <div class="comment-heading">
    <div class="heading">
      <%= t('general.comments') %>
    </div>
  </div>

  <% comments.each do |comment| %>
      <div class="comment indent<%= comment.indent  %>" data-id="<%= comment.id %>" data-indent="<%= comment.indent %>">
        <div class="body">
          <table>
            <tr>
              <td class="user">
                <div class="avatar">
                  <%= image_tag comment.user.image %>
                </div>
                <div class="name">
                  <%= comment.user.full_name %>
                </div>
              </td>
              <td class="text">
                <p>
                <%= comment.text %>
                </p>
                <p>
                  <%= link_to 'reply' %>
                </p>
              </td>
            </tr>
          </table>

        </div>
      </div>
  <% end %>
</div>