<div class="comment-panel">
  <div class="comment-heading">
    <div class="heading">
      <%= t('general.comments') %>
    </div>
  </div>

  <% comments.each do |comment| %>
      <% indent = [comment.indent, 9].min %>
      <div id="comment_<%= comment.id %>" class="comment indent<%= indent %>" data-id="<%= comment.id %>" data-indent="<%= indent %>">
        <div class="body">
          <div class="user">
            <div class="avatar">
              <%= image_tag comment.user.image %>
            </div>
            <div class="name">
              <%= comment.user.full_name %>
            </div>
          </div>
          <div class="text">
            <p>
              <%= comment.text %>
            </p>

            <p>
              <% if user_signed_in? %>
                  <%= link_to t('general.reply'), nil,
                              data: {id: comment.id, entity_id: entity_id, category: category, indent: indent},
                              class: "comment-reply" %>
              <% end %>
              <% if admin? %>
                  <%= link_to(t('general.delete'), comment_path(comment),
                              :method => :delete,
                              :confirm => t('general.sure'),
                              :remote => true) %>
              <% end %>

            </p>
          </div>
        </div>
      </div>
  <% end %>
</div>