<meta property="og:title" content="<%= title %>"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="<%= url %>"/>
<meta property="og:image" content="<%= image %>"/>
<!--<meta property="og:site_name" content="My Company Name"/>-->
<meta property="fb:app_id" content="<%= Rails.application.secrets.facebook_app_id %>"/>
<meta property="og:description" content="<%= description %>"/>
<div class="fb-like" data-href="<%= url %>" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>