<nav class="navbar navbar-default navbar-fixed-top app-header" role="navigation">
  <div class="container-fluid inner-app-header">
    <!--Brand logo-->
    <div class="navbar-header app-header-brand">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only"><%= t("navbar.navigation") %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= t("navbar.title") %></a>
    </div>

    <!--container that will collapse when the viewport is small-->
    <div id="navbar" class="navbar-collapse collapse">
      <!--Links to pages-->
      <ul class="nav navbar-nav app-header-menu">
        <li class="<%= selected_tab == t("navbar.blog") ? 'active' : '' %>"><%= link_to t("navbar.blog"), blog_posts_path %></li>
        <li class="<%= selected_tab == t("navbar.video") ? 'active' : '' %>"><%= link_to t("navbar.video"), video_posts_path  %></li>
        <li class="<%= selected_tab == t("navbar.about") ? 'active' : '' %>"><a href="#"><%= t("navbar.about") %></a></li>
      </ul>


    <!--Login buttons-->
    <ul class="nav navbar-nav navbar-right login-panel">
      <li>
        <a href="#">
          <%= link_to image_tag("email_icon.png", alt: "email"),
          new_user_session_path%>
          <span class="visible-xs-inline"><%= t("navbar.email_icon") %></span>
        </a>

      </li>

      <li>
        <a href="#">
          <%= link_to image_tag("vk_icon.png", alt: "vkontakte"), user_omniauth_authorize_path(:vkontakte)%>
          <span class="visible-xs-inline"><%= t("navbar.vk_icon") %></span>
        </a>

      </li>


      <li>
        <a href="#">
          <%= link_to image_tag("facebook_icon.png", alt: "facebook"), user_omniauth_authorize_path(:facebook)%>
          <span class="visible-xs-inline"><%= t("navbar.facebook_icon") %></span>
        </a>
      </li>
      <li>
        <a href="#">
          <%= link_to image_tag("twitter_icon.png", alt: "twitter"), user_omniauth_authorize_path(:twitter)%>
          <span class="visible-xs-inline"><%= t("navbar.twitter_icon") %></span>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag "rss_icon.png", alt: "rss"%>
          <span class="visible-xs-inline"><%= t("navbar.rss_icon") %></span>
        </a>
      </li>

    </ul>

    </div>
  </div>
</nav>