<nav class="navbar navbar-default navbar-fixed-top app-header" role="navigation">
  <div class="container-fluid inner-app-header">
    <!--Brand logo-->
    <div class="navbar-header app-header-brand">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_toggle" aria-expanded="false" aria-controls="navbar">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
      </button>
      <ul class="app-header-menu">
        <li>
          <a class="navbar-brand" href="/">
            <table>
              <tr>
                <td class = "navbar-brand-layout">
                  <%= image_tag 'logo.png', alt: 'iOpenBiznes', class: 'navbar-brand-logo' %>
                </td>
                <td class = "navbar-brand-layout">
                  <span class="navbar-brand-title"><%= t("navbar.title") %></span>
                </td>
              </tr>
            </table>
          </a>
        </li>
      </ul>

    </div>

    <!--container that will collapse when the viewport is small-->
    <div class="navbar-collapse collapse">
      <%= render partial:'shared/login_panel' %>
      <!--Links to pages-->
      <ul class="nav navbar-nav app-header-menu">
        <li class="<%= selected_tab == t("navbar.home") ? 'active' : '' %>"><%= link_to t("navbar.home"), '/' %></li>
        <li class="<%= selected_tab == t("navbar.blog") ? 'active' : '' %>"><%= link_to t("navbar.blog"), blog_posts_path %></li>
        <li class="<%= selected_tab == t("navbar.about") ? 'active' : '' %>"><%= link_to t("navbar.about"), about_show_path %></li>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!--menu for iphone size-->
<div id="nav_toggle" class="collapse app-header-menu-popup">
  <ul>
    <li class="<%= selected_tab == t("navbar.home") ? 'active' : '' %>"><%= link_to t("navbar.home"), '/' %></li>
    <li class="<%= selected_tab == t("navbar.blog") ? 'active' : '' %>"><%= link_to t("navbar.blog"), blog_posts_path %></li>
    <li class="<%= selected_tab == t("navbar.about") ? 'active' : '' %>"><%= link_to t("navbar.about"), about_show_path %></li>
    </li>
    <li>
      <%= link_to t('general.navbar_sign_in'), new_user_session_path, {rel: 'nofollow', class: "sign-in-button"} %>
    </li>
  </ul>
</div>

<div class="modal fade" id="navbarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
