<% content_for :head do %>
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="<%= url %>"/>
    <meta property="og:image" content="<%= image %>"/>
    <!--<meta property="og:site_name" content="My Company Name"/>-->
    <meta property="fb:app_id" content="<%= Rails.application.secrets.facebook_app_id %>"/>
    <meta property="og:description" content="<%= description %>"/>
<% end %>
<div class="social-share-buttons">
  <div class="fb-like" data-href="<%= url %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
  <span class="vk-share-button"></span>
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="AlexeyKarasev1" data-lang="<%= I18n.locale.to_s %>"><%= t('general.tweet') %></a>
</div>