<p><%= t('mailer.hello') %> <%= @resource.email %>!</p>

<p><%= t('mailer.reset1') %></p>

<p><%= link_to t('devise.views.change_password'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale ) %></p>

<p><%= t('mailer.reset2') %></p>
<p><%= t('mailer.reset3') %></p>
