<p><%= t('devise.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.lock1') %></p>

<p><%= t('devise.mailer.lock2') %></p>

<p><%= link_to t('devise.mailer.lock3'), unlock_url(@resource, unlock_token: @token, locale: I18n.locale) %></p>
