<div class="image-gallery">
  <table>
    <tbody>
    <tr>
      <td class="images-container">
        <div class="panel-section">
          <%= render partial: 'image_gallery', locals: {images: @images} %>
        </div>
      </td>
      <td class='side-panel'>
        <div id="tags-section" class="panel-section">

        </div>
        <div class="panel-section">
          <%= form_for(@image, remote: true, method: 'patch', html: {id: 'update_tags_form'}) do |f| %>
              <div class="field">
                <%= f.label :tags %><br>
                <%= f.text_field :tags %>
              </div>
              <br/>
              <%= f.submit class: 'btn btn-primary', value: 'Update', id: 'update_button' %>
          <% end %>
        </div>
        <div class="panel-section">
          <%= form_for(@image, remote: true, html: {:'data-type' => :html}) do |f| %>

              <div class="field">
                <%= f.label :file %><br>
                <%= f.file_field :file %>
              </div>
              <br/>
              <%= f.submit class: 'btn btn-primary', value: 'Add', id: 'add_button' %>
              <br/>
          <% end %>
          <br/>
          <%= button_to 'Delete', @image, :method => :delete, id: 'delete_button',
                        remote: true, class: 'btn btn-primary', form: {id: 'delete_image'} %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>