<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Finance" %></title>
  <%= yield(:head) if content_for?(:head) %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, {controller: "blog/posts", action: "index"}) %>
  <script>var rootUrl = "<%=root_url%>"</script>
  <script type="text/javascript" src="//cdn.sublimevideo.net/js/uvkynhxx.js"></script>
  <% if Rails.env.production? %>
      <%= render partial: 'shared/google_analytics' %>
  <% end %>
  <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
</head>
<body>
<!--Facebook-->
<div id="fb-root"></div>
<div class="page-container">
  <%= render partial: 'shared/navbar', locals: {selected_tab: yield(:selected_tab)} %>
  <% if @breadcrumbs %>
      <ol class="breadcrumb">
        <% @breadcrumbs.each do |crumb| %>
            <li> <%= link_to crumb[0], crumb[1] %> </li>
        <% end %>
      </ol>
  <% end %>
  <div class="body-container">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
  <% if flash[:notice] %>
      <%= hidden_field_tag :notice, flash[:notice] %>
  <% end %>
</div>
<input type="hidden" id="i18n" data-ok="<%= t('general.ok')%>"
data-cancel="<%= t('general.cancel') %>"
data-tweet="<%= t('general.tweet') %>"
data-share="<%= t('general.share') %>"
data-locale="<%= I18n.locale.to_s %>"/>
<input type="hidden" id="service" data-fb-app-id="<%= Rails.application.secrets.facebook_app_id%>">

</body>
</html>
