<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Finance"  %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, {controller: "blog/posts", action: "index"})%>
</head>
<body>
<div class="page-container">
  <%= render partial: 'shared/navbar', locals: {selected_tab: yield(:selected_tab)} %>
  <div class="body-container">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</div>


</body>
</html>
