<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:head) ? yield(:head) : "Finance"  %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-container">
  <%= render 'shared/navbar' %>
  <div class="body-container">
    <%= yield %>
  </div>
</div>


</body>
</html>
